{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-4">
            {% form_theme form 'AcmeTestTaskBundle:Form:post.html.twig' %}
            {{ form(form) }}            
        </div>
    </div>
{% endblock %}